.contact{
    background-color:transparent;
    background-image: url("/assets/contact/contact-photo.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 100%;
    background-position: bottom;
    height: 100vh;
}