.page404{
    background-image: url("../../assets/test1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.page404-container
{
    display:flex;
    flex-direction: column;
    width: 100%;
    text-align: center; 
    padding-top:5em;
}

.page404-logo
{
    width: 100%;
    max-width: 800px;
    margin:1em auto;
    margin-bottom:0;
}

.page404-title
{
    color:#fff;
    font-size:5rem;
    margin-top:0;
}

.page404-btn
{
    color:#fff;
    width: 20%;
    margin:0 auto;
    font-size:1.5rem;
    font-weight: 700;
    width: 100%;
}

.page404-btn:hover,
.page404:focus
{
   color:#2ef4f3;
}

.page404-svg
{
    position: relative;
    bottom:35%;
    left:80%;
    width: 50%;
    height: 30px;
}